<!DOCTYPE html>
<html>
  <head>
    <title>FCC Book Trading Club | Jennifer Bland</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FCC Book Trading Club</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">Sign up</a></li>
              <li><a href="#contact">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
        </nav>

        <div class="jumbotron text-center">
        <h1>BookJump</h1>
          <p>The first rule of bookjump is don't talk about bookjump</p>
          <p><i class="fa fa-leaf fa-5x" aria-hidden="true"></i></p>
        </div>

        <div class="container">
            <div class="col-xs-12">
                <h2>Features:</h2>
            </div>

            <div class="col-xs-12 col-md-4">
                <a href="#">Catalogue your books online</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#">See all of the books our users own</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#">Request to borrow other users' books</a>
            </div>

            <div class="col-xs-12 col-md-4">
                <br /><br />
                <a href="#">Easily manage books and requests from your dashboard</a>
            </div>
        </div>

        <footer class="footer">
            <div class="container text-center">
                <p>&#169; 2015 Jennifer Bland | <a href="https://github.com/ratracegrad"><i class="fa fa-github" aria-hidden="true"></i> Github</a></p>
            </div>
        </footer>

  </body>
</html>
