<footer class="footer">
    <div class="container text-center">
        <p>&#169; 2015 Jennifer Bland | <a href="https://github.com/ratracegrad"><i class="fa fa-github" aria-hidden="true"></i> Github</a></p>
    </div>
</footer>
