<!DOCTYPE html>
<html>

    <% include ./partials/header %>

    <body>

        <% include ./partials/navigation %>

        <div class="jumbotron text-center">
            <h1>BookJump</h1>
            <p>The first rule of bookjump is don't talk about bookjump</p>
            <p><i class="fa fa-leaf fa-5x" aria-hidden="true"></i></p>
        </div>

        <div class="container">
            <div class="col-xs-12">
                <h2>Features:</h2>
            </div>

            <div class="col-xs-12 col-md-4">
                <a href="#">Catalogue your books online</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#">See all of the books our users own</a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#">Request to borrow other users' books</a>
            </div>

            <div class="col-xs-12 col-md-4">
                <br /><br />
                <a href="#">Easily manage books and requests from your dashboard</a>
            </div>
        </div>

        <% include ./partials/footer %>

        <% include ./partials/scripts %>

    </body>
</html>
